* {margin:0; padding:0}
#text {margin:50px auto; width:500px}
.hotspot {color:rgb(61, 0, 153); padding-bottom:1px; border-bottom:1px dotted #900; cursor:pointer}

#tt {position:absolute; display:block; background:#fff}
#tttop {display:block; height:5px; margin-left:5px; background:#fff; overflow:hidden}
#ttcont {display:block; padding:2px 12px 3px 7px; margin-left:5px; background:#fff; color:#000}
#ttbot {display:block; height:5px; margin-left:5px; background:#fff; overflow:hidden}
