* {margin:0; padding:0}
#text {margin:50px auto; width:500px}
.hotspot {color:#900; padding-bottom:1px; border-bottom:1px dotted #900; cursor:pointer}

#tt {position:absolute; display:block; background:#fff}
#tttop {display:block; height:5px; margin-left:5px; background:#fff; overflow:hidden}
#ttcont {display:block; padding:2px 12px 3px 7px; margin-left:5px; background:#fff; color:#000}
#ttbot {display:block; height:5px; margin-left:5px; background:#fff; overflow:hidden}

fieldset fieldset{
    width: 40em;
    margin: auto;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background: #fff;
}
fieldset>fieldset:nth-child(2){
    margin-bottom: 5px;
}
legend{
    color: greenyellow;
    background: #fff;
    padding: .4em 1em;
    font-weight: bold;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}
.calculationTable tbody tr td{
    font-weight: bold;
    width: 240px;
    cursor:pointer;
    border-bottom: 2px;
}
.calculationTable tbody tr>td:nth-child(2){
    width:40px;
    text-align : right;
    color:#CC0033;
}
#last-td{
       border-top: 2px solid #CC0033;   
}

#notice-legend{
    color: greenyellow;
    background: #fff;
    padding: .4em 1em;
    margin-left: 260px;
    font-weight: bold;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}
#notice label{
    font-size: 18px;
}
#notice textarea, #notice input[type=text]{
    font-size: 18px;
    font-family:Time New Romans;
}
#notice textarea{
    overflow-y: scroll;
}
#title{
    font: 18px Verdana,Arial,Helvetica,sans-serif;
    background-color: #fff;
}
#description{
    font: 16px 'Times New Roman',Times,serif;
    margin-top: 15px;
    text-align: left;
}
input.save{
	display: block;
	float:right;
	width:104px; height:29px;
	background:#fff;
	color: black;
	text-transform: uppercase;
        text-align: center;
        font-size: 15px;
	text-decoration: none;
	margin-left: 5px;
	border:1px solid #000;
}
input.save:hover{
    background:#fff;
    color: black;
}
input.cancel{
	display: block;
	float:right;
	width:104px; height:29px;
	background:#fff;
	color: black;
	text-transform: uppercase;
        font-size: 15px;
	text-decoration: none;
	margin-left: 5px;
	border:1px solid #000;
}
input.cancel:hover{
    background:#fff;
    color: black;
}
.adviserTable{
    font-size:15px;
    font-weight: bold;
    color: black;
    text-align: center;
    background: #fff;
}
.adviserTable th{
    font-size: 18px;
    text-align: center;
    background-color: #fff;
}
.adviserTable td{
    padding:0px 10px;
}
.adviserTable tr:nth-child(2){
    border-bottom: 1px solid #337f09;
    font-size:17px;
}
.adviserTable a{
    text-decoration: none;
}
.adviserTable a:hover{
    text-decoration:underline;
}
